{% extends 'base.html' %}
{% block title %}About - Book Recommender{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Learn more about our Book Recommender service.</p>
    <hr class="my-4">
    <p>My name is raghad al zoughbi and my freind meman awad we worked on this website to achive he best we could, hoping to Develop it even more.</p>
<h5>Here, And based on your input, We can provide the best option for you to Read next!</h5>
</div>
{% endblock %}
